@model BOL.Models.Rate

@{
    ViewBag.Title = "SeeRateDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Msg</h1>
<h2>Детали</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceFinishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceFinishDate)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("User"))
    {
        Html.ActionLink("Добавить подписку", "AddSubscribe", new {area = "Users", controller = "Subscribe"});
    }
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Редактировать", "EditRate", new {area = "Admin", controller = "Admin", id = Model.ServiceId})
        <span>|</span>
    }
    @Html.ActionLink("Список тарифов", "SeeRateList")
</p>
