@model BOL.Models.Rate

@{
    ViewBag.Title = "Список тарифов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Msg</h1>
<h2>Детали тарифа</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Service.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceFinishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceFinishDate)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("User") && ViewBag.Purse != 0)
    {
        @Html.ActionLink("Добавить подписку", "AddSubscribe", new {area = "Users", controller = "Subscribe", id = Convert.ToInt32(ViewBag.Id)})
    }
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Редактировать", "EditRate", new {area = "Admin", controller = "Admin", id = Model.ServiceId})
        <span>|</span>
    }
    @Html.ActionLink("Список тарифов", "SeeRateList")
</p>
