@model IEnumerable<BOL.Models.Rate>

@{
    ViewBag.Title = "SeeRateList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Msg</h1>
<h2>Список тарифов</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "AddRate", new {area = "Admin", controller = "Admin"})
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Service.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceFinishDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Service.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceStartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceFinishDate)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {

                @Html.ActionLink("Редактировать", "EditRate", new { area = "Admin", controller = "Admin", id = item.RateId })
                <span>|</span>
            }

            @Html.ActionLink("Детали", "SeeRateDetails", new { id = item.RateId })
            @if (User.IsInRole("Admin"))
            {
                <span>|</span>
                @Html.ActionLink("Удалить", "DeleteRate", new { area = "Admin", controller = "Admin", id = item.RateId })
            }
        </td>
    </tr>
}

</table>
