@model IEnumerable<BOL.Models.Rate>

@{
    ViewBag.Title = "Список тарифов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Msg</h1>
<h2>Список тарифов</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Создать", "AddRate", new {area = "Admin", controller = "Admin"})
    }
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model=>model.Service.Title)*@
            @Html.ActionLink("Название услуги", "SeeRateList", new {sortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), sortBy = "ServiceTitle"})
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.Title)*@
            @Html.ActionLink("Название тарифа", "SeeRateList", new {sortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), sortBy = "Title"})
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.Price)*@
            @Html.ActionLink("Цена", "SeeRateList", new {sortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), sortBy = "Price"})
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {

                    @Html.ActionLink("Редактировать", "EditRate", new {area = "Admin", controller = "Admin", id = item.RateId})
                    <span>|</span>
                }
                @Html.ActionLink("Детали", "SeeRateDetails", new {id = item.RateId})
                @if (User.IsInRole("Admin"))
                {
                    <span>|</span>
                    @Html.ActionLink("Удалить", "DeleteRate", new {area = "Admin", controller = "Admin", id = item.RateId})
                }
            </td>
        </tr>
    }

</table>



