@model IEnumerable<BOL.Models.Service>

@{
    ViewBag.Title = "SeeServicesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Msg</h1>
<h2>Список услуг</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "AddService", new {area = "Admin", controller = "Admin"})
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Название услуги", "SeeServicesList", new { sortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), sortBy = "Title", page = ViewBag.Page ?? "1" })
        </th>
        <th>
            @Html.ActionLink("Тип услуги", "SeeServiceDetails", new { sortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), sortBy = "ServiceTypeTitle", page = ViewBag.Page ?? "1" })


        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceType.Title)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                
                @Html.ActionLink("Edit", "EditService", new {area = "Admin", controller = "Admin", id = item.ServiceId})                
                <span>|</span>
            }
            
            @Html.ActionLink("Details", "SeeServiceDetails", new {id = item.ServiceId})
            @if (User.IsInRole("Admin"))
            {
                <span>|</span>
                @Html.ActionLink("Delete", "DeleteService", new {area = "Admin",controller = "Admin" ,id = item.ServiceId})
            }
        </td>
    </tr>
}

</table>
@{
    double pages = ViewBag.Pages;
}
@for (int i = 0; i < pages; i++)
{
    @Html.ActionLink((i + 1).ToString() + " ", "SeeRateList", new { sortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), sortBy = "FirstName", page = i })
}