@model IEnumerable<BOL.Models.Service>

@{
    ViewBag.Title = "Список услуг";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Msg</h1>
<h2>Список услуг</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Создать", "AddService", new {area = "Admin", controller = "Admin"})
    }
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model=>model.Title)*@
            @Html.ActionLink("Название услуги", "SeeServicesList", new { sortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), sortBy = "Title"})
        </th>
        <th>
            @*@Html.DisplayNameFor(model=>model.ServiceType.Title)*@
            @Html.ActionLink("Тип услуги", "SeeServiceDetails", new { sortOrder = (ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc")), sortBy = "ServiceTypeTitle"})


        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceType.Title)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                
                @Html.ActionLink("Редактировать", "EditService", new {area = "Admin", controller = "Admin", id = item.ServiceId})                
                <span>|</span>
            }
            
            @Html.ActionLink("Детали", "SeeServiceDetails", new {id = item.ServiceId})
            @if (User.IsInRole("Admin"))
            {
                <span>|</span>
                @Html.ActionLink("Удалить", "DeleteService", new {area = "Admin",controller = "Admin" ,id = item.ServiceId})
            }
        </td>
    </tr>
}

</table>
