@model BOL.Models.Subscribe

@{
    ViewBag.Title = "Детали подписки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewBag.Msg</h1>
<h2>Детали подписки</h2>

<div>
    <h4>Подписка</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Rate.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubscribeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubscribeDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Отписаться", "DeleteSubscribe", new { id = Model.SubscribeId }) |
</p>
